.news__wrapper {
  /*обертка, чтобы сделать отступы-уши по бокам */
  width: 1295px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
}

.news__left-section {
  grid-column: 1/6;
}

.news__right-section {
  grid-column: 6/13;
}
