.news__wrapper {
  /*обертка, чтобы сделать отступы-уши по бокам */
  width: 1295px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
}

.news__subtitile {
  margin: 35px 0 0 40px;
}

.news-list {
  margin: 0 40px;
}

.news-list__item {
  padding: 35px 0;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
