.offers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offers-list__item {
  width: 306px;
  height: 343px;
  margin-bottom: 20px;
}

.offers-list__item-top {
  width: 306px;
  height: 230px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content), 1fr;
  background-color: #ccd;
  align-items: flex-start;
  align-content: flex-start;
}

.offers-list-title-wrap {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 1;
}

.offers-list__title {
  display: inline-block;
  padding: 0;
  margin: 30px 0 0 30px;
}

.offers-list__img {
  width: 306px;
  height: 230px;

  grid-row: 1/3;
  grid-column: 1/2;
}

.offers-list__item-bottom {
  width: 306px;
  height: 113px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--turquoise);
  
  
}

.offers-list__subtitle {
  width: min-content;
  margin: 0;
  display: inline;
  font-size: 21px;
  line-height: 31.5px;
  color: var(--white);

  display: -webkit-box;   /*4 свойства - защитят заголовок от переполнения. */
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
