.footer__wrapper {
  /*обертка, чтобы сделать отступы-уши по бокам */
  margin: 0 auto;
  width: 1295px;
}

.footer__inner-list {
  padding: 0;
  list-style: none;
}

.footer__contacts-list {
  padding: 0;
  list-style: none;
}

.footer__up {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 24px;
}

.footer__inner-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.footer__down {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer__copiright {
  width: 325px;
  font-size: 12px;
  line-height: 18px;
}

.footer__confident-link {
  width: 325px;
}
