.footer__wrapper {
  /*обертка, чтобы сделать отступы-уши по бокам */
  margin: 0 auto;
  width: 1295px;  
}

.footer__inner-list {
  padding: 0;
  list-style: none;
}

.footer__contacts-list {
  padding: 0;
  list-style: none;
  
}

.footer__up {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-gap: 24px;
}

.footer__inner-list {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.footer__down{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__copiright{
  width: 325px;
}

.footer__confident-link{
  w325px
}
