.footer__wrapper {
  /*обертка, чтобы сделать отступы-уши по бокам */
  width: 1295px;
  margin: 0 auto;
}

.footer__inner-list {
  list-style: none;
}

.footer__contacts-list {
  list-style: none;
}

.footer__up {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-gap: 24px;
}

.footer__inner-list {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}
