.advantages-right {
    padding-left: 86px;
    grid-column: 6/13;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, minmax(1px, maxcontent));
}

.advantages-right__number {
    font-size: 48px;
    line-height: 72px;
    color: rgba(0, 0, 0, 0.3);
    margin-right: 20px;
}

.advantages-right__number-bright {
    font-size: 96px;
    line-height: 144px;
    color: var(--turquoise);
    margin-right: 30px;
}

.advantages-right__elem1 {
    padding: 0;
    margin: 0;
    grid-column: 1/4;
    grid-row: 1/2;
}

.advantages-right__elem2 {
    padding: 0;
    margin: 0;
    grid-column: 1/4;
    grid-row: 2/3;

    display: flex;
    align-items: center;
}

.advantages-right__elem3 {
    padding: 0;
    margin: 0;
    grid-column: 1/4;
    grid-row: 3/4;

    display: flex;
    align-items: center;
}

.advantages-right__elem4 {
    padding: 0;
    margin: 0;
    grid-column: 1/5;
    grid-row: 4/5;
    z-index: 1;

    display: flex;
    align-items: center;
}

.advantages-right__elem5 {
    padding: 0;
    margin: 0;
    grid-column: 1/4;
    grid-row: 5/6;

    display: flex;
    align-items: center;
}

.advantages-right__elem6 {
    padding: 0;
    margin: 0;
    grid-column: 4/7;
    grid-row: 2/6;
    z-index: -1;
}

.advantages-right__img {
    width: 306px;
    height: 400px;
    background-color: #ccc;
}