.advantages{
  margin-top: 80px;
}

.advantages__wrapper {
  /*обертка, чтобы сделать отсупы-уши по бокам*/
  width: 1295px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
}