.social-list {
  width: 650px;
  padding: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  list-style: none;
}

.social-list__item {
  width: 24px;
  height: 24px;
}

.social-list__item--visually-impaired {
  width: 270px;
  height: 40px;
}

.social-list__item--vk {
  background: url("../../img/social/vk.svg");
}

.social-list__item--youtube {
  background: url("../../img/social/youtube.svg");
}

.social-list__item--facebook {
  background: url("../../img/social/facebook.svg");
}

.social-list__item--instagram {
  background: url("../../img/social/instagram.svg");
}
