.link {
  color: #000;
  text-decoration: none;
}

.link--size-s {
  font-size: 12px;
  line-height: 18px;
}

.link--size-m {
  font-size: 14px;
  line-height: 21px;
}

.link--size-l {
  font-size: 16px;
  line-height: 18.83px;
}

.link--size-xl {
  font-size: 18px;
  line-height: 27px;
}

.link--size-xxl {
  font-size: 21px;
  line-height: 31.5px;
}

.link--color-white {
  color: #fff;
}

.link--bold {
  font-weight: 700;
}
