.header-slider {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
}
.header-slider__title {
  margin-top: 100px;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  color: var(--white);
}

.header-slider__button {
  margin-top: 45px;
}

.header-slider__button-wrap {
  display: inline-block;
}

.header-slider__switch {
  margin: 0 36px 0 0;
  padding: 0;
  display: flex;
  justify-content: right;
  list-style: none;
}

.header-slider__left {
  grid-column: 1/6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header-slider__text {
  margin: 0;
  margin-top: 43px;
}

.header-slider__img {
  width: 746px;
  height: 533px;
  grid-column: 6/13;
  background-color: #ccc;
}
