.current-offers__title{
    font-size: 48px;
    line-height: 72px;
    color:var(--turquoise);
}

.current-offers__wrapper{ /*обертка, чтобы сделать отступы-уши по бокам */
    width: 1295px;
    margin: 0 auto;
}