.about {
  background: var(--lite-turquoise);
}

.about__wrapper {
  /*обертка, чтобы сделать отступы - уши по бокам*/
  width: 1295px;
  margin: 0 auto;
}

.about__about-list {
  margin: 24px 10px 24px 61px;
}
