.nav-list {
  width: 100%;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  list-style: none;
}

.nav-list__link-img {
  width: 145px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
